<p>Ask your coach anything</p>

<form action="/answer">
  <label for="question">Type your question:</label> <br><br>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>
